{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <ul class="product-list">
        {% for product in product_list %}
            <li>
                <a href="{% url 'products:items:item' product.id %}">
                    <div> {{ product.name }} </div>
                    <img src="{{ product.image_url }}">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}