{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% if requests %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Picture</th>
                    <th>Product name</th>
                    <th>Donor name</th>
                </tr>
            </thead>
            <tbody>
        {% for request in requests %}
            <tr>
                <td><img src="{{ request.item.image_url }}" height="180" width="100%"></td>
                <td>{{ request.item.name }}</td>
                <td><a href="{% url 'products:items:products_by_owner' request.item.user.id %}">{{ request.item.user.first_name }} {{ request.item.user.last_name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>You have not made any requests yet.</div>
    {% endif %}
{% endif %}

{% endblock %}