{% extends 'base.html' %}
{% load static %}
{% load favorites %}
{% load items %}

{% block style %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% include 'items/filters.html' %}
    {% include 'pagination.html' %}
        <ul class="product-list">
            {% for item in page_obj %}
                <li>
                    <a href="{{ item.id }}">
                        <img src="{{ item.image_url }}" height="180" width="100%" />
                        <div class="name-and-price">
                            <div>{{ item.name }}</div>
                        </div>
                    </a>
                    <div class="store-details">
                        Category
                        <a href="{% url 'products:items:category' item.category.id %}">{{item.category.name}}</a><br>
                        Donated by
                        <a href="{% url 'products:items:products_by_owner' item.user.id %}">{{ item.user.first_name }} {{ item.user.last_name }}</a><br>
                        <a href="{% url 'orders:request_donation' item.id page_obj.number %}">Request donation</a><br>
                        <a href="{% url 'products:favorites:add_to_favorites' item.id page_obj.number %}">Add to favorites</a>
                        {% if item.status == 1 %}
                            <p>No requests yet</p>
                        {% else %}
                            <p>{% number_of_requests item.id %}</p>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% include 'pagination.html' %}
{% endblock %}