{% extends 'base.html' %}
{% load static %}
{% load favorites %}

{% block style %}
    <link href="{% static 'css/products.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<h2><a href="">{{ first_name }} {{ last_name }}</a></h2>
    <ul class="product-list">
        {% for item in items %}
            <li>
                <a href="{% url 'products:items:item' item.id %}">
                    <img src="{{ item.image_url }}" height="180" width="100%" />
                    <div class="name-and-price">
                        <div>{{ item.name }}</div>
                    </div>
                </a>
                <div class="store-details">
                    Category
                    <a href="{% url 'products:items:category' item.category.id %}">{{item.category.name}}</a><br>
                    <a href="{% url 'orders:item_view_request_donation' item.id %}">Request donation</a><br>
                    <a href="{% url 'products:favorites:add_to_favorites_item_view' item.id %}">Add to favorites</a>
                    {% if item.status == 1 %}
                        <p>No requests yet for this product </p>
                    {% else %}
                        <p>Product requested by other users</p>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}